doctype html
html
  head
    title r/Food
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body

    //Heading and can press to return to landing page
    <h1>
      <button type="button", onclick="home()"><i class="fa fa-home"></i> Search r/Food</button>
    </h1>
    
    <table style="width:100%; text-align:center; border-collapse: collapse">
      <tr>
        <td>
          //Search box, can also leave blank to return to landing page
          p Search r/food for posts containing the items
          <form id="tfnewsearch" method="get" action="http://localhost:3000/">
            <input type="text" class="tftextinput" id="tftextinput" name="q" size="21" maxlength="120" style="font-size:25px;"><input type="submit" value="search" class="tfbutton" style="height:50px;width:100px;font-size:20px;">
          </form>
        </td>
        <td width="40%">
          //Search box for recipes
          p Search edamam recipes
          <form id="recipeSearch" method="get" action="http://localhost:3000/">
            <input type="text" class="recipeInput" id="recipeInput" name="q" size="21" maxlength="120" style="font-size:25px;"><input type="submit" value="search" class="tfbutton" style="height:50px;width:100px;font-size:20px;">
          </form>
        </td>
        <td>
          <table style="border: 1px solid white;">
            <tr>
              <td>
                //Input box for list of food items to get nutrition of. each item is seperated by new lines
                p Get the nutrients of the items specified in the search box. Seperated by line.
                p Returns deafault mesurement sizes for each item. can specify a multiplyer in the form of "2 eggs" or "3 apples", otherwise "apple" is fine and will return 1 apples nutrients.
                <form id="foodItemSearch" method="get" action="http://localhost:3000/">
                  <textarea class="foodItemtext" id="foodItemtext" cols="30" rows="10" style="font-size:15px;"></textarea>
                  <input type="submit" value="Find Nutrients" class="foodbutton" style="height:50px;width:200px;font-size:20px;">
                </form>
              </td>

            </tr>
          </table>
        </td>
        <td>
          <div class="Results"></div>
        </td>
      </tr>
    </table>

    script(src='/javascripts/search.js')

    block content
    