body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.item {
  margin: 20px 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: #069;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  text-decoration: underline;
}
