extends layout


block content

    h1 analysis of food item
    <table>
        <tr>
            //- Image, click on photo to go to larger view of image
            <th>
                p #{item.measures[0].label}  
            </th>
        </tr>
    </table>