body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.item {
  margin: 20px 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: #069;
  cursor: pointer;
  font-size: 30px;
}

button:hover {
  text-decoration: underline;
}

p {
  font-size: 25px;
}

table {
  border-collapse: collapse;
  table-layout: auto;
  width: 800px;
}

table {
  border: 1px solid black;
}

tr.border_bottom td {
  border-bottom: 1px solid black;
}